* {
    max-width: 800px;
    margin: auto;
    
  }
  

html {
    background-color: black;

}
body {
    background-color: beige;
    margin: 8px;
    display: block;
    
}
header {
    text-align: left;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
    
    
}
#pic {
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    width: 128px;
    height: 128px;
    object-fit: cover;
    border-radius: 50%;
    }
h1 {
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 40px;
    font-family: 'Script MT Bold','Lucida Handwriting','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
main {
    
    margin-left: 30px;
}
h2 {
    padding-top: 10px;
    padding-bottom: 5px;

}
h4 {
    padding-top: 5px;
    padding-bottom: 10px;

}
li {
    padding-top: 5px;
    padding-bottom: 5px;
}
footer {
    font-family: 'Script MT Bold','Lucida Handwriting','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
    margin-right: 30px;
}
.cred {
    font-size: 10px;
}
#bot {
    margin-bottom: 15px;
}
#mainHeading {
    color: red;
}
.funParagraph {
    color: green;
}